.container {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  text-align: center;
}

.tablero {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80%;
  border: 1px solid white;
}

.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.juego {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ahorcado {
  margin-top: 25px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}