.container {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  text-align: center;
}

.tablero {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letrasIntroducidas {
  font-size: 30px;
}

.juego {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn_separated {
  font-size: 14px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #242424;
}

.mensaje {
  font-size: 30px;
}

.input {
  padding: 10px;
  border-radius: 20px;
}

.btn_separated:hover {
  background-color: whitesmoke;
  color: #333;
  transition: all 0.3s ease;
}

.letraOculta {
  font-size: 40px;
  margin: 10px;
  color: #242424;
  text-decoration: underline;
  text-decoration-color: white;
}

.letraVisible {
  color: white;
  font-size: 40px;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: white;
}