.container {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  text-align: center;
}

.tablero {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.juego {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn_separated {
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}

.btn_separated:hover {
  background-color: whitesmoke;
  color: #333;
  transition: all 0.3s ease;
}